
<div class="container">
    <h3>List Book Component</h3>

    <div>
        <button type="button" class="btn btn-success" (click)="toggleAddForm()">Add a Book</button>
        <div class="card m-5" *ngIf="toggleAdd">
            <div class="card-header bg-success text-white">Add a Book</div>
            <div class="card-body">
                <form>
                    <div class="mb-3 mt-3">
                      <label for="title" class="form-label">Book Title:</label>
                      <input 
                        type="text" 
                        class="form-control" 
                        id="title" 
                        placeholder="Enter book title" 
                        name="bookTitle"
                        [(ngModel)]="newBook.bookTitle">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="author" class="form-label">Book Author:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="author" 
                          placeholder="Enter book author" 
                          name="bookAuthor"
                          [(ngModel)]="newBook.bookAuthor">
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="genre" class="form-label">Book Genre:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="genre" 
                          placeholder="Enter book genre" 
                          name="bookGenre"
                          [(ngModel)]="newBook.bookGenre">
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="cost" class="form-label">Book Cost:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="cost" 
                          placeholder="Enter book cost" 
                          name="bookCost"
                          [(ngModel)]="newBook.bookCost">
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="image" class="form-label">Book Image URL:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="image" 
                          placeholder="Enter book image URL" 
                          name="bookImageUrl"
                          [(ngModel)]="newBook.bookImageUrl">
                      </div>
                    
                  </form>
            </div>
            <div class="card-footer bg-success">
                <button type="button" class="btn btn-light" (click)="addBook()">
                    ADD
                </button>
            </div>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Cost</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of allBooks">
                <td>{{ book.bookId }}</td>
                <td><img [src]="book.bookImageUrl" width="80px" height="50px"/></td>
                <td>{{ book.bookTitle }}</td>
                <td>{{ book.bookAuthor }}</td>
                <td>{{ book.bookGenre }}</td>
                <td>{{ book.bookCost }}</td>
                <td><button type="button" 
                    class="btn btn-primary" 
                    (click)="goToEditBook(book.bookId)">
                    <i class="material-icons">edit</i>
                </button>
                </td>
                <td><button 
                        type="button" 
                        class="btn btn-danger" 
                        (click)="deleteBook(book.bookId)"><i class="material-icons">delete</i></button></td>
            </tr>
        </tbody>
    </table>
</div>