<div class="card-header bg-success text-white">Login</div>
<div class="card-body">
    <form (ngSubmit) =" validateUser()">
        <div class="mb-3 mt-3">
          <label for="username" class="form-label">Username</label>
          <input 
            type="text" 
            class="form-control" 
            id="username" 
            placeholder="Enter Username" 
            name="username"
            [(ngModel)]="newUser.userName">
        </div>
        <div class="mb-3 mt-3">
            <label for="password" class="form-label">Password:</label>
            <input 
              type="text" 
              class="form-control" 
              id="passsword" 
              placeholder="Enter password" 
              name="password"
              [(ngModel)]="newUser.password">
          </div>
          <div class="mb-3 mt-3">
            <label for="role" class="form-label">Role:</label>
            <input 
              type="text" 
              class="form-control" 
              id="role" 
              placeholder="Enter role" 
              name="role"
              [(ngModel)]="newUser.role">
          </div>
      
        
      </form>
</div>
<div class="card-footer bg-success">
    <button type="submit" class="btn btn-light">
        Login
    </button>
</div>
